{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">
    <h4>Produit</h4>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ produit.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }} $</td>
            </tr>
        </tbody>
    </table>

     <a href="{{ path('produit_index') }}" class="btn col-xs-12">Allez dans la liste</a>
         <a href="{{ path('produit_edit', { 'id': produit.id }) }}" class="col-xs-12 btn btn-primary">Editer</a>
            {{ form_start(delete_form) }}
        <br>
        <br><br><br>
        <input type="submit" value="Supprimer" class="col-xs-12 btn btn-danger">
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
